@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';

* {
  --white: #f0e0df;
  --blue: #629af2;
  --red: #f84f38;
  --yellow: #cae23e;
  --orange: #f74a3a;
  --green: #9aff74;
  --background-color: #212529;
  --on-background: white;
  --primary: #c1d3fe;
  --secondary: #fedcc1;
  --on-primary: #212529;
  --on-secondary: #212529;
  --secong-bg-color: #343a40;
  --card-bg: #495057;
  --light-bg: #6c757d;

  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
}
