@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';

* {
  --white: #f0e0df;
  --blue: #629af2;
  --red: #f84f38;
  --yellow: #cae23e;
  --orange: #f74a3a;
  --green: #9aff74;
  --background-color: #212529;
  --on-background: white;
  --primary: #c1d3fe;
  --secondary: #fedcc1;
  --on-primary: #212529;
  --on-secondary: #212529;
  --second-bg-color: #343a40;
  --card-bg: #495057;
  --light-bg: #6c757d;

  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: white;
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: SevenSegments;
  src: local('SevenSegments'),
    url('@/assets/fonts/SevenSegment.ttf') format('truetype');
}
